    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Nigel, Lucas, Sheldon, Kyle" />
        <meta name="description" content="Assignment for CSC309" />
        <!-- Mobile sizing: -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="../styles/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../styles/style.css" rel="stylesheet" type="text/css"/>
        <title id="page-title"><%= title %></title>
    </head>